*.pyc
*.so
.idea
.eggs
*.log


.vscode/
.idea/
examples/data
examples/pytorch/data
data

horovod.egg-info
dist
build
build_pip
docs/_build

env
venv/

examples/**/checkpoint*

horovod/tensorflow/mpi_lib.so
horovod/torch/test_cuda/
lightning_logs


timeline-tern-async.json
timeline-tern.json
examples/pytorch/output.txt
